:root{
    --bordas: gray;
    --Bgcolor: #242D56;
    --BgColorSection: #1a1a1a;
    --TextColor: white;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--Bgcolor);
}

header{
    margin: 20px 0;
    padding: 20px 0 ;

    border-bottom: solid 2px var(--bordas);
       
    text-align: center;
    
}

section{
    margin: 20px;
    padding: 20px 10px ;

    background-color: var(--BgColorSection);
    border-radius: 15px;

    max-width: auto;
}

h1,h2,h3, p {
    color: var(--TextColor);
}

h1{
    font-size: 50px;
}


h2{
    margin-bottom: 10px;
    text-align: center;
}

h3{
    margin: 10px 0 5px 0;
    text-align: center;
}

figure img{
    max-width: 150px;

    border: 5px solid black;
    border-radius: 15px;

    display: flex;
    justify-self: center;
}

div.GRID{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

section:hover{
    scale: 1.1;
}


footer{
    text-align: center;
    margin: 10px 0 20px 0;
    padding-top: 10px;

    border-top: solid 2px var(--bordas);
}
